/* Reset de estilos para el body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.Bienvenido {
  background-color: #ff8c00;
  display: inline-block;

}

/* Estilos para el encabezado */
header{
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Estilos para el encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

/* Estilos para la sección de inicio */
.hero {
  text-align: center;
  margin-top: 100px;
}

.hero h2 {
  font-size: 48px;
}

.hero p {
  font-size: 18px;
  color: #777;
}

.cta {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #ff8c00;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

/* Estilos para la sección de productos */
#productos ´ {
  padding: 50px;
  background-color: #f8f8f8;
}


.productos-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.producto {
  flex-basis: 300px;
  padding: 20px;
  text-align: center;
  margin-right: 20px;
}

.producto img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.producto h3 {
  font-size: 24px;
  margin-top: 10px;
}

.producto p {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.btn-comprar {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff8c00;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

/* Estilos para la sección de contacto */
#contacto {
  padding: 50px;
  background-color: #fff;
}

#contacto form label {
  display: block;
  margin-top: 10px;
}

#contacto form input,
#contacto form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

#contacto form textarea {
  height: 150px;
}

#contacto form input[type="submit"] {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #ff8c00;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para el pie de página */
footer {
  background-color: #4e4e4e;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.btn-comprar:hover {
  animation-name: surprise;
  -webkit-animation-name: surprise;
  -moz-animation-name: surprise;
  animation-duration: .8s;
  -webkit-animation-duration: .8s;
  -moz-animation-duration: .8s;
}

@keyframes surprise {
  0% {
    transform: rotate(0deg) scale(1, 1);
    ;
  }

  10% {
    transform: rotate(7deg) scale(2, 2);
  }

  20% {
    transform: rotate(-7deg) scale(2, 2);
  }

  30% {
    transform: rotate(7deg) scale(2, 2);
  }

  40% {
    transform: rotate(-7deg) scale(2, 2);
  }

  50% {
    transform: rotate(7deg) scale(2, 2);
  }

  60% {
    transform: rotate(-7deg) scale(2, 2);
  }

  70% {
    transform: rotate(7deg) scale(2, 2);
  }

  80% {
    transform: rotate(-7deg) scale(2, 2);
  }

  90% {
    transform: rotate(7deg) scale(2, 2);
  }

  100% {
    transform: rotate(0deg) scale(1, 1);
  }
}

.titulo {
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.btn-header{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e100ff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.social-media a:hover {
  background-color: #555;
}


